@using DCMS.ViewModel.Models.Users;
@using DCMS.Web.Framework.UI;
@using DCMS.Web.Framework;

@model SubordinatesModel

<input asp-for="UserId" type="hidden" />
<div class="panel">
    <table class="table table-striped table-bordered table-hover" style="border-top: 1px solid #eeeeee;">
        <tbody>
            @foreach (var user in Model.Subordinates)
            {
                if (true)
                {
                    <tr>
                        <td width="50">└──</td>
                        <td>
                            <label class="checkbox-inline">
                                <input type="checkbox" @(user.Selected ? "checked" : "") id="subordinates_@(user.Id)" name="subordinates_@(user.Id)" value="@user.Id">
                                @user.UserRealName
                            </label>
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>

