@using DCMS.Web.Extensions;
@using DCMS.Web.Framework.UI;
@using DCMS.ViewModel.Models.Campaigns;

@model CampaignModel

<table class="table table-striped table-bordered table-hover" id="CampaignBuyProducts"></table>
