@using DCMS.Web.Extensions;
@using DCMS.Web.Framework.UI;
@using DCMS.ViewModel.Models.Campaigns;

@model CampaignModel

@*<div id="toolbar2">
    <button class="btn btn-primary btn-sm" type="button" id="CampaignGiveProductsAdd" value="@Model.Id" @(Model.Id != 0 ? "" : "disabled")><i class="fa fa-floppy-o mr5"></i>保存</button>
</div>*@
<table class="table table-striped table-bordered table-hover" id="CampaignGiveProducts"></table>
