@using DCMS.Web.Framework.UI

<aside id="sidebar_right" class="nano">
    <div class="sidebar_right_content nano-content">
        <div class="tab-block sidebar-block br-n">
            <div class="tab-content br-n">



                @*timeline*@


                <div class="mt30 timeline-single" id="timeline">

             

                </div>


            </div>
            <!-- end: .tab-content -->
        </div>
    </div>
</aside>
