<div id="settingModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form id="modal-content" class="form-horizontal" action="">
                    <!--Content-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-primary"><i class="fa fa-floppy-o mr5"></i>保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-undo mr5"></i>取消</button>
            </div>
        </div>
    </div>
</div>

<div id="windowModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 850px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="window-modal-title"></h4>
            </div>
            <div class="modal-body">
                <form id="window-modal-content" class="form-horizontal" action="">
                    <!--Content-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="window-btnSave" class="btn btn-primary hidden"><i class="fa fa-floppy-o mr5"></i>保存</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-undo mr5"></i>关闭</button>
            </div>
        </div>
    </div>
</div>

