<div class="row text-center mbn">
    <div class="col-xs-4">
        <a href="#" class="text-primary" data-toggle="tooltip" data-placement="top" title="控制面板">
            <span class="glyphicons glyphicons-home"></span>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="#" class="text-info" data-toggle="tooltip" data-placement="top" title="消息">
            <span class="glyphicons glyphicons-inbox"></span>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="#" class="text-alert" data-toggle="tooltip" data-placement="top" title="任务">
            <span class="glyphicons glyphicons-bell"></span>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="#" class="text-system" data-toggle="tooltip" data-placement="top" title="活动">
            <span class="glyphicons glyphicons-imac"></span>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="配置">
            <span class="glyphicons glyphicons-settings"></span>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="#" class="text-warning" data-toggle="tooltip" data-placement="top" title="资料">
            <span class="glyphicons glyphicons-restart"></span>
        </a>
    </div>
</div>