<div class="topbar-menu row">
    <div class="col-xs-4 col-sm-2 topMenu">
        @*<a href="#" class="metro-tile bg-success">
            <span class="metro-icon glyphicons glyphicons-inbox"></span>
            <p class="metro-title">销售</p>
        </a>*@
    </div>
    <div class="col-xs-4 col-sm-2 topMenu">
        @*<a href="#" class="metro-tile bg-info">
            <span class="metro-icon glyphicons glyphicon-print"></span>
            <p class="metro-title">采购</p>
        </a>*@
    </div>
    <div class="col-xs-4 col-sm-2 topMenu">
        @*<a href="#" class="metro-tile bg-alert">
            <span class="metro-icon glyphicons glyphicon-barcode"></span>
            <p class="metro-title">仓库</p>
        </a>*@
    </div>
    <div class="col-xs-4 col-sm-2 topMenu">
        @*<a href="#" class="metro-tile bg-primary">
            <span class="metro-icon glyphicons glyphicon-usd"></span>
            <p class="metro-title">财务</p>
        </a>*@
    </div>
    <div class="col-xs-4 col-sm-2 topMenu">
        @*<a href="#" class="metro-tile bg-warning">
            <span class="metro-icon glyphicons glyphicon-floppy-disk"></span>
            <p class="metro-title">档案</p>
        </a>*@
    </div>
    <div class="col-xs-4 col-sm-2 topMenu">
        @*<a href="#" class="metro-tile bg-system">
            <span class="metro-icon glyphicons glyphicons-cogwheels"></span>
            <p class="metro-title">设置</p>
        </a>*@
    </div>
</div>