<div class="row">
    <div class="col-md-12">
        <div class="menuContent" style="width: 100%; border: 1px solid rgb(170, 170, 170); z-index: 10;">
            <ul id="Districts" class="ztree" style="margin-top: 0; width: 100%; height: auto;"></ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    var districtsZTree = {};
    $(function () {
        //type=all&style=checkbox
        $(this).renderDistrictsZTree(1, $("#Districts"), "checkbox", "all");
    });
</script>

