@using DCMS.Web.Extensions;
@using DCMS.Web.Framework.UI;

<section id="content_wrapper">
    <!-- Start: Topbar-Dropdown -->
    <div id="topbar-dropmenu">
        <div id="topbar-dropmenu">
            @await Html.PartialAsync("_ToolBox")
        </div>
    </div>
    <!-- End: Topbar-Dropdown -->
    <!-- Start: Topbar -->
    <header id="topbar">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active">
                    <a href="#">档案</a>
                </li>
                <li class="crumb-icon">
                    <a href="@Url.RouteUrl("HomePage")">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li class="crumb-link">
                    <a href="#">往来相关</a>
                </li>
                <li class="crumb-trail">仓库档案</li>
            </ol>
        </div>
        <div class="topbar-right">
            <div class="ml15 ib va-m" id="toggle_sidemenu_r">
                <a href="#" class="pl5">
                    <i class="fa fa-sign-in fs22 text-primary"></i>
                    <span class="badge badge-hero badge-danger">3</span>
                </a>
            </div>
        </div>
    </header>
    <!-- End: Topbar -->
    <!-- Begin: Content -->
    <section id="content" class="formSection">

        <div class="special-alerts">
            <div class="alert alert-danger light alert-dismissable" id="alert-demo-2" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="fa fa-info pr10"></i>
                <strong>您没有被授权此操作!</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicons glyphicons-search"></span> 查询条件</div>
                    <div class="panel-body p10">
                        <form id="formSearch" novalidate="novalidate">
                            <div class="row">
                                <div class="col-sm-2">
                                    <input id="txt_searchStr" type="text" class="form-control" placeholder="关键字...">
                                </div>
                                <div class="col-sm-10" style="text-align:right;">
                                    <button id="btn_query" type="button" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-search mr5" aria-hidden="true"></span>查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span class="glyphicons glyphicons-list"></span> 仓库列表
                        </div>
                    </div>
                    <div class="panel-body p5 ptn">
                        <div id="toolbar">
                            <button id="btn_add" type="button" class="btn btn-primary btn-sm mr5" style="display:none">
                                <span class="glyphicon glyphicon-plus mr5" aria-hidden="true"></span>添加
                            </button>
                            <button id="btn_Csh" type="button" class="btn btn-primary btn-sm mr5" style="display:none">
                                安装仓库示例
                            </button>
                            @*<button id="btn_delete" type="button" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove mr5" aria-hidden="true"></span>删除
                                </button>*@
                        </div>
                        <table id="datatable" class="table table-striped table-bordered table-hover"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End: Content -->
</section>


@{ await Html.RenderPartialAsync("_ModalForm", new ViewDataDictionary(ViewData) { { "formId", "WareHouseForm" }, { "modalWindow", "WareHouseWindow" },{ "windowWidth","1200px" }, { "showSave", "true" } }); }

<!-- Sparklines CDN -->

@section CurPageScripts
{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            "use strict";
            // Init Theme Core
            Core.init({
                sbm: "sb-l-c",
            });
            // Init Demo JS
            Demo.init();

            //权限提示
            if ($(this).getUrlQueryString("Authorize") == "noAuthorize") {
                $('#alert-demo-2').fadeToggle();
                setTimeout(function () {
                    $('#alert-demo-2').fadeToggle();
                }, 3000);
            }

            //弹出(新增)仓库窗口
            $("#btn_add").click(function () {
                var actionUrl = "/WareHouse/AddWareHouse";
                $(this).showModalAndSubmit($("#WareHouseWindow"), actionUrl, null, "新增仓库信息", $("#WareHouseForm"), function () {
                    var validator = $("#WareHouseForm").validate({
                        errorClass: "text-danger", validClass: "text-success", errorElement: "em",
                        rules: {
                            Name: {
                                required: true
                            }
                        },
                        messages: {
                            Name: {
                                required: '请输入仓库名称'
                            }
                        },
                        highlight: function (element, errorClass, validClass) {
                            $(element).closest('.field').addClass(errorClass).removeClass(validClass);
                        },
                        unhighlight: function (element, errorClass, validClass) {
                            $(element).closest('.field').removeClass(errorClass).addClass(validClass);
                        },
                        errorPlacement: function (error, element) {
                            if (element.is(":radio") || element.is(":checkbox")) {
                                element.closest('.option-group').after(error);
                            } else {
                                //error.insertAfter(element.parent());
                                element.parent().append(error);
                            }
                        },
                        submitHandler: function (form) {
                            //alert("submitted");
                            form.submit();
                        }
                    });

                    if (!$("#WareHouseForm").valid()) {
                        return false;
                    }
                    var modalForm = $("#WareHouseForm").serializeJson();
                    $(this).remoteSubmit("post", actionUrl, { model: modalForm }, null, function () {
                        $("#datatable").bootstrapTable('refresh');
                        $("#WareHouseWindow").modal('hide');
                    });
                });
            });
            //仓库安装示例
            $("#btn_Csh").click(function () {
                $(this).remoteSubmit("post", "/WareHouse/InitWareHouse", null, null, function () {
                    $("#datatable").bootstrapTable('refresh');
                });
            });
            //弹出(编辑)仓库窗口
            $("#btn_edit").click(function () {
                var arrselections = $("#datatable").bootstrapTable('getSelections');
                if (arrselections.length > 1) {
                    $(this).showToastr('只能选择一行进行编辑');
                    return;
                }
                if (arrselections.length <= 0) {
                    $(this).showToastr('请选择有效数据');
                    return;
                }
                var actionUrl = "/WareHouse/EditWareHouse";
                $(this).showModalAndSubmit($("#WareHouseWindow"), actionUrl, null, "编辑仓库信息", $("#WareHouseForm"), function () {
                    var validator = $("#WareHouseForm").validate({
                        errorClass: "text-danger", validClass: "text-success", errorElement: "em",
                        rules: {
                            Name: {
                                required: true
                            }
                        },
                        messages: {
                            Name: {
                                required: '请输入仓库名称'
                            }
                        },
                        highlight: function (element, errorClass, validClass) {
                            $(element).closest('.field').addClass(errorClass).removeClass(validClass);
                        },
                        unhighlight: function (element, errorClass, validClass) {
                            $(element).closest('.field').removeClass(errorClass).addClass(validClass);
                        },
                        errorPlacement: function (error, element) {
                            if (element.is(":radio") || element.is(":checkbox")) {
                                element.closest('.option-group').after(error);
                            } else {
                                //error.insertAfter(element.parent());
                                element.parent().append(error);
                            }
                        },
                        submitHandler: function (form) {
                            //alert("submitted");
                            form.submit();
                        }
                    });

                    if (!$("#WareHouseForm").valid()) {
                        return false;
                    }
                    var modalForm = $("#WareHouseForm").serializeJson();

                    //$("#btnSave_WareHouseWindow").html("<img src='@LayoutExtensions.ResourceServerUrl("/content/images/loading.gif")' height='30px' width='30px'>");

                    $(this).remoteSubmit("post", actionUrl, { model: modalForm }, null, function () {
                        $("#datatable").bootstrapTable('refresh');
                        $("#WareHouseWindow").modal('hide');
                    });
                });
            });

            //删除仓库
            $("#btn_delete").click(function () {
                var arrselections = $("#datatable").bootstrapTable('getSelections');
                if (arrselections.length <= 0) {
                    $(this).showToastr('请选择有效数据');
                    return;
                }
                var selections = [];
                $.each(arrselections, function (i, val) {
                    selections.push(val.id);
                });
                Deletes({ ids: selections.toString() });
            });

            var Deletes = function (param) {
                WinMsg.confirm({ message: "确认要删除选择的数据吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    $(this).remoteSubmit("post", "/WareHouse/DeleteWareHouse", param, null, function () {
                        $("#datatable").bootstrapTable('refresh');
                        $("#WareHouseWindow").modal('hide');
                    });
                });
            }

            //仓库列表
            $("#datatable").bootstrapTable({
                toolbar: "#toolbar",
                url: "/WareHouse/WareHouseList",
                method: 'get',
                striped: true,
                cache: false,
                pagination: true,
                queryParams: function (params) {
                    var temp =
                    {
                        pageSize: params.limit,
                        pageIndex: (params.offset / params.limit)
                    };
                    return temp;
                },
                sidePagination: "server",
                idField: 'Id',
                pageNumber: 1,
                pageSize: 10,
                search: false,
                strictSearch: true,
                showRefresh: false,
                clickToSelect: false,
                uniqueId: "Id",
                showToggle: false,
                cardView: false,
                detailView: false,
                columns: [
                    { checkbox: true },
                    {
                        title: '<i class="fa fa-gear fs18"></i>', formatter: function (value, row, index) {
                            return m_pagerow + index + 1;
                        }
                    },
                    { field: 'Name', title: '仓库名称', align: 'left' },
                    {
                        field: 'Type', title: '仓库类型', align: 'left', formatter: function (value, row, index) {
                            if (value != 2) {
                                return '仓库';
                            } else if (value == 2) {
                                return '车辆';
                            } else { return ''; }
                        }
                    },
                    {
                        field: 'Status', title: '状态', align: 'center', formatter: function (value, row, index) {
                            if (value) {
                                return '<span class="label label-success">正常</span>';
                            } else {
                                return '<span class="label label-default">锁定</span>';
                            }
                        }
                    },
                    {
                        title: '操作', width: '160', align: 'center', events: {
                            'click .rowdel': function (e, value, row, index) {
                                var selections = [];
                                selections.push(row.Id);
                                Deletes({ ids: selections.toString() });
                            },
                            'click .rowedit': function (e, value, row, index) {
                                var actionUrl = "/WareHouse/EditWareHouse";
                                $(this).showModalAndSubmit($("#WareHouseWindow"), actionUrl, { id: row.Id }, "编辑仓库信息", $("#WareHouseForm"), function () {
                                    var validator = $("#WareHouseForm").validate({
                                        errorClass: "text-danger", validClass: "text-success", errorElement: "em",
                                        rules: {
                                            Name: {
                                                required: true
                                            }
                                        },
                                        messages: {
                                            Name: {
                                                required: '请输入仓库名称'
                                            }
                                        },
                                        highlight: function (element, errorClass, validClass) {
                                            $(element).closest('.field').addClass(errorClass).removeClass(validClass);
                                        },
                                        unhighlight: function (element, errorClass, validClass) {
                                            $(element).closest('.field').removeClass(errorClass).addClass(validClass);
                                        },
                                        errorPlacement: function (error, element) {
                                            if (element.is(":radio") || element.is(":checkbox")) {
                                                element.closest('.option-group').after(error);
                                            } else {
                                                //error.insertAfter(element.parent());
                                                element.parent().append(error);
                                            }
                                        },
                                        submitHandler: function (form) {
                                            //alert("submitted");
                                            form.submit();
                                        }
                                    });

                                    if (!$("#WareHouseForm").valid()) {
                                        return false;
                                    }
                                    var modalForm = $("#WareHouseForm").serializeJson();
                                    $(this).remoteSubmit("post", actionUrl, { model: modalForm }, null, function () {
                                        $("#datatable").bootstrapTable('refresh');
                                        $("#WareHouseWindow").modal('hide');
                                    });
                                });
                            }
                        },
                        formatter: function (value, row, index) {
                            return [
                                '<button type="button" class="btn btn-sm btn-info rowedit"><i class="fa fa-pencil-square-o mr5" ></i>编辑</button>',
                                '<button type="button" class="btn btn-sm btn-danger rowdel"><i class="fa fa-trash-o mr5" ></i>删除</button>'
                            ].join('');
                        }
                    }
                ],
                onPageChange: function (number, size) {
                    m_pagerow = (number - 1) * size;
                },
                onLoadSuccess: function (data) {
                    if (data.total <= 0) {
                        $("#btn_add").css("display", "none");
                        $("#btn_Csh").css("display", "block")
                    }
                    else {
                        $("#btn_add").css("display", "block");
                        $("#btn_Csh").css("display", "none")
                    }
                    console.log('load');
                }
            });

            //查询
            $("#btn_query").click(function () {
                $("#datatable").bootstrapTable('refresh', { url: "/WareHouse/WareHouseList", silent: true, query: { searchStr: $("#txt_searchStr").val() } });
            });


            $(document).on('click', "input[name='chkAllByType']", function () {
                var curt = $(this).attr("data-id");
                //console.log(curt);
                var selectStatus = $(this).is(':checked')
                if (selectStatus) {
                    $("input[name^='makebill']").each(function (i, n) {
                        if (curt == $(n).attr("data-billtypeid")) {
                            n.checked = true;
                        }
                    });
                } else {
                    $("input[name^='makebill']").each(function (i, n) {
                        if (curt == $(n).attr("data-billtypeid")) {
                            n.checked = false;
                        } 
                    });
                }
            });

            $(document).on('click', "input[name='chkAllStockquery']", function () {
                var selectStatus = $(this).is(':checked')
                if (selectStatus) {
                    //name^="abc"
                    $("input[name^='stockquery']").each(function (i, n) {
                        n.checked = true;
                    });
                } else {
                    $("input[name^='stockquery']").each(function (i, n) {
                        n.checked = false;
                    });
                }
            });
        });
    </script>
}