@{
    Layout = "~/Views/Shared/_Layout.Error.cshtml";
}

<section id="content_wrapper" class="mln">
    <!-- End: Topbar -->
    <!-- Begin: Content -->
    <section id="content" class="pn mln">
        <div class="center-block mt50 mw800">
            <h1 class="error-title"> 404! </h1>
            <h2 class="error-subtitle">Page Not Found.</h2>
        </div>
        <div class="mid-section">
            <div class="mid-content clearfix">
                <input type="text" class="form-control" value="让我帮助你搜索!">
            </div>
        </div>

        <a href="/" id="return-arrow">
            <i class="fa fa-arrow-left fa-3x text-primary"></i>
            <span>
                返回
                <br> 首页
            </span>
        </a>
    </section>
    <!-- End: Content -->

</section>