
@using DCMS.Web.Framework.UI;
@using DCMS.Web.Framework;


@using DCMS.ViewModel.Models.Configuration;

@model CompanySettingModel


<div class="form-group">
    <label asp-for="APPOnlyShowHasStockProduct" asp-postfix=":" class="col-lg-3 control-label" />
    <div class="col-lg-2">
        @Html.CheckBoxFor(model => model.APPOnlyShowHasStockProduct, new { @class = "mt15" })
    </div>
    <div class="col-lg-7">
        App开销售单选商品时，只能筛选到库存大于零的商品。
    </div>
</div>


<div class="form-group">
    <label asp-for="APPShowOrderStock" asp-postfix=":" class="col-lg-3 control-label" />
    <div class="col-lg-2">
        @Html.CheckBoxFor(model => model.APPShowOrderStock, new { @class = "mt15" })
    </div>
    <div class="col-lg-7">
        开销售单，销售订单，调拨单，采购单将展示出订单占用的库存数量。
    </div>
</div>
