@using DCMS.ViewModel.Models.Products;
@using DCMS.Web.Framework.UI;
@using DCMS.Web.Framework;

@model ProductTierPricePlanModel

<input asp-for="Id" type="hidden" />

<div class="form-group">
    <label asp-for="Name" asp-postfix=":" class="col-lg-3 control-label"/>
    <div class="col-lg-4">
        <input asp-for="Name" class = "form-control" placeholder = "名称..."/>
    </div>
    <div class="col-lg-4">
        @Html.DCMSValidationMessageFor(model => model.Name)
    </div>
</div>

