@using System.Reflection;
@using DCMS.Web.Framework.UI;
@using DCMS.Web.Framework;


@using DCMS.ViewModel.Models.Products;

@model ProductModel

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-warning alert-dismissable mt10">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <div asp-validation-summary="All"></div>
    </div>
}

<table class="table table-striped table-bordered table-hover" id="combination_products"></table>
<button class="btn btn-primary btn-sm mt10" type="button" id="subProductAdd" value="@Model.Id" @(Model.Id != 0 ? "" : "disabled")><i class="fa fa-plus mr5"></i>添加子商品</button>