@model DateTime
@using System.Globalization

@{
    var placeholder = ((Dictionary<string, object>)Html.ViewData["htmlAttributes"])["placeholder"];
}

<div class="input-group date pull-right">
    <input type="text" id="@Html.IdForModel()" name="@Html.NameForModel()" value="@((Model > DateTime.MinValue ? Model : DateTime.Today).ToString("yyyy-MM-dd"))" class="form-control datetimepicker" placeholder="@placeholder" />
    <span class="input-group-addon cursor">
        <i class="fa fa-calendar"></i>
    </span>
</div>
@*<script async>
        $(document).ready(function () {
            $("#@Html.IdForModel()").datetimepicker({ pickTime:false });
        });
    </script>*@
